@font-face {
    font-display: swap;
    src: local('Roboto'), url(./fonts/Roboto-Black.ttf) format('truetype');
    src: local('Roboto'), url(./fonts/Roboto-Bold.ttf) format('truetype');
    src: local('Roboto'), url(./fonts/Roboto-Medium.ttf) format('truetype');
    src: local('Roboto'), url(./fonts/Roboto-Thin.ttf) format('truetype');
	src: local('Roboto'), url(./fonts/Roboto-Light.ttf) format('truetype');
	src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
    font-family: 'Roboto';
}


.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
	> .v-input__control
	> .v-input__slot
	fieldset {
	color: #e0e0e0 !important;
}

.theme--light.v-label {
	font-weight: 400;
	color: #e0e0e0;
}
.v-text-field.v-text-field--enclosed {
	border-radius: 10px;
	padding: 1px !important;
}

.v-btn i:hover {
	transform: scale(1.15);
}

.v-btn {
	text-transform: none !important;
}

.primary-color{
    background-color: #2070e5
}

.pointer {
    cursor: pointer;
}